.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-family: Poppins-Medium, Arial, Helvetica, sans-serif;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
}

.profile__edit-btn {
  margin-top: auto;
  font-size: 16px;
  color: rgba(33, 33, 33, 1);
  border: 0;
  opacity: 70%;
  height: 16px;
  width: 107px;
  background-color: #fcf5e5;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: 138px;
  font-size: 16px;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  width: 100%;
  max-width: 149px;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

/* Media Query for Mobile View */
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
